window.XSTEAM_RUNTIME_CONFIG = {
  oauthClientId: 'SUBSTITUIDO_NO_DEPLOY',
  appsScriptDeploymentId: 'SUBSTITUIDO_NO_DEPLOY',
  oauthScopes: [
    'openid',
    'email',
    'https://www.googleapis.com/auth/drive',
    'https://www.googleapis.com/auth/spreadsheets',
    'https://www.googleapis.com/auth/script.container.ui'
  ]
};
